extends baseEmail
block content
  p Hi #{firstName},
  p Forgot your password? submit a PATCH request with your new password and passwirdConfirm to #{url}.\nif you didn't forget your pasword, please ignore this email!
  table.btn.btn-primary(role="presentation" border="0" cellpadding="0" cellspacing="0")
    tbody
      tr
        td(align="left")
          table(role="presentation" border="0" cellpadding="0" cellspacing="0")
            tbody
              tr
                td
                  a(href=`${url}` target="_blank") Reset your password
  p If you need any help resetting your password, please don't hesitate to let me know
  p Anastastia Valon Admin.